@mixin flex($type, $direction) {
  display: flex;

  @if ($direction == "col") {
    flex-direction: column;
  }

  @if ($type == "center&center") {
    justify-content: center;
    align-items: center;
  }

  @if ($type == "start&center") {
    justify-content: flex-start;
    align-items: center;
  }

  @if ($type == "center&start") {
    justify-content: center;
    align-items: flex-start;
  }

  @if ($type == "space-between&center") {
    justify-content: space-between;
    align-items: center;
  }
}
